<h1>Checkout page</h1>

<%= debug current_customer%>

<p>Name: <%= current_customer.name %></p>
<p>Address: <%= current_customer.address %></p>
<p>Province: <%= @province.name %></p>

<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
  <% session[:shopping_cart].each_with_index do |product, index| %>
    <tr>
      <td><%= Product.find(product["id"]).name %></td>
      <td><%= number_to_currency Product.find(product["id"]).price %></td>
      <td><%= session[:shopping_cart][index]["quantity"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p>Subtotal: <%= number_to_currency session[:subtotal] %></p>
<p>PST/HST: <%= number_to_currency session[:pst_hst_amount] %></p>
<p>GST: <%= number_to_currency session[:gst_amount] %></p>
<p>Total: <%= number_to_currency session[:total] %></p>

<%= form_tag save_order_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= number_to_currency session[:total] %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Products from keebs4weebs.ca"
          data-amount="<%= @amount %>"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-name="<%= current_customer.name %>"
          data-locale="auto"></script>
<% end %>

<!-- <%= link_to '/save_order', class:"waves-effect waves-light btn-small light-green darken-4" do %>
  <i class="material-icons left">payment</i>Give Money
<% end %> -->

