<!DOCTYPE html>
<html>
  <head>
    <title>KeebsFinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <nav>
    <div class="nav-wrapper deep-purple lighten-1">
    <!-- <%= link_to "weebs", root_path, class: "brand-logo"%> -->
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to root_path, class:"waves-effect waves-light btn" do %>
            Home<i class="material-icons left">home</i>
          <% end %>
        </li>
        <!-- <li><%= link_to "Categories", categories_path %></li> -->
        <li>
          <%= link_to  "#",{:class => "dropdown-trigger", 'data-target' => "categories"} do %>
            Categories<i class="material-icons right">arrow_drop_down</i>
          <% end %>
        </li>
        <li><%= link_to "About Us", '/about_us' %></li>
        <li><%= link_to "Contact Us", '/contact_us' %></li>
  <% if customer_signed_in? %>
    <li><%= link_to "Edit profile", edit_customer_registration_path, :class => 'navbar-link' %></li>
    <li><%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %></li>
    <li>
      <%= link_to "/orders", class: "waves-effect waves-light btn cyan accent-4" do%>
      <i class="material-icons center">history</i>
      <% end %>
    </li>
    <li>Logged in as <strong><%= current_customer.name %></strong></li>
  <% else %>
    <li><%= link_to "Sign up", new_customer_registration_path, :class => 'navbar-link'  %></li>
    <li><%= link_to "Login", new_customer_session_path, :class => 'navbar-link'  %></li>
  <% end %>
  <li>
    <%= link_to '/cart', class:"waves-effect waves-light btn orange accent-4" do %>
      <i class="material-icons left">shopping_cart</i>Cart
    <% end %>
  </li>
      </ul>
      <%= content_tag(:ul, nil, id: 'categories', class: 'dropdown-content') do %>
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, category %></li>
            <li class="divider" tabindex="-1"></li>
          <% end %>
        <% end %>
    </div>
  </nav>
  <h1>welcome to <%= link_to "keebs4weebs.ca", root_path %></h1>
  <div class="form-class" >
<%= form_tag(search_results_path, method: "get") do %>
      <%= label_tag(:search, "Search for:") %>
      <%= text_field_tag(:search) %>
      <%= button_tag("Search", class: "btn waves-effect waves-light") do %>
        Submit<i class="material-icons right">send</i>
      <% end %>
      <div class="input-field">
      <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name),{include_blank: 'All Products'})%>
      </div>
    <% end %>
</div>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
