<!DOCTYPE html>
<html>
  <head>
    <title>KeebsFinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <nav>
    <div class="nav-wrapper deep-purple lighten-1">
    <%= link_to "weebs", root_path, class: "brand-logo"%>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path, class:"waves-effect waves-light btn" %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "About Us", '/about_us' %></li>
        <li><%= link_to "Contact Us", '/contact_us' %></li>
  <% if customer_signed_in? %>
    <li><%= link_to 'Edit profile', edit_customer_registration_path, :class => 'navbar-link' %></li>
    <li><%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %></li>
    Logged in as <strong><%= current_customer.name %></strong>(<%= current_customer.email %>).
  <% else %>
    <li><%= link_to "Sign up", new_customer_registration_path, :class => 'navbar-link'  %></li>
    <li><%= link_to "Login", new_customer_session_path, :class => 'navbar-link'  %></li>
  <% end %>
      </ul>
    </div>
  </nav>
  <h1>welcome to <%= link_to "keebs4weebs.ca", root_path %></h1>
  <%= form_tag(search_results_path, method: "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name),{include_blank: 'All Products'})%>
      <%= button_tag("Search", class: 'btn waves-effect waves-light') %>
    <% end %>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
