<!DOCTYPE html>
<html>
  <head>
    <title>KeebsFinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
      <ul class="nav">
        <li class="nav-item"><%= link_to "Home", root_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
      </ul>
  </nav>
  <h1>welcome to keebs4weebs.ca</h1>
    <%= yield %>
  </body>
</html>
